[Unit]
Description=AutoPublisher-Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/root/AutoPublisher
ExecStart=node index.js

[Install]
WantedBy=multi-user.target
